@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

    scroll-behavior: smooth;
}
#main_font {
    font-family: 'Merriweather', serif;
}




section{

    height: 100vh;
}


.one{
    background: url(../images/coffee.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 0.5;
}
.two{
    background-color: bisque;
}

.three{

    height:100vh;
    background: linear-gradient(90deg, #8fd6be 50%,rgb(226, 247, 240) 50%);
    display: flex;


}

.four{


    background-color: #84b8c5;
}


.five{
    background-color: #bbade4;

}
.back{

    height:100vh;
    margin:auto;
    width: 50%;
    padding: 150px 30px;
    overflow: hidden;


}


.outer{

    width: 300vw;
    transition: transform 0.5s;
    
}
.inner{

    width: 50vw;
    float: left;
    display:block;
    margin: 0 auto;
}

.inner img{
    width: 80%;
}

.btn{

    left: 500px;
    padding: 7px 10px;
    outline:none;
    border: 1px solid rgb(216, 113, 29);
    border-radius: 20px;
    cursor:pointer;
    color:#eb3942;
    background: transparent;

}

.main_logo{

    text-align: center;
    position: absolute;
    font-size: 40px;
    font-style: italic;
    color: #eb3942;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    ;

}

.circle{
    width: 200px;
    height: 200px;
    background :#c2bac4;
    margin: 10% auto;
    border-radius: 50%;
    display:inline-block;
    opacity:0.6;

}

#menu_circle{

    transform: translate(50%,20%);
    display:inline-block;
    margin:0px 20px 0px 0px;
}
.content{
    position:absolute;
    width:inherit;
    height:auto;
    top:50%;
    transform: translate(-50%,10%);
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;;
    color:#d85b62;
   


}

.content_menu{
    position:absolute;
    width:inherit;
    height:auto;
    top:50%;
    transform: translate(0%,-50%);
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;;
    font-size:40px;
    color:#d85b62;
   


}


.left{
    flex-basis: 50%;
}

.left h1{

    font-family: 'Urbanist', sans-serif;
    font-size: 100px;
    color:#1f3a31;
    padding: auto;
    transform: translate(10%,10%);
}

.right{

    flex-basis: 50%;
}

.right img {

    width: 100%;
    height: 100%;
    border-radius: 100%;
    opacity: 0.5;


}


.four p{

    font-size: 50px;
    padding: 5px 10px;
    font-family: 'Open Sans Condensed', sans-serif;;
}
.card_outer{

    text-align: center;
    margin-top: 100px;
}
.card_box{
    position:relative;
    display: inline-block;
    border-radius: 8px;
    width:100%;
    max-width:220px;
    height: 300px;
    overflow:hidden;
    margin:10px;
    transition: 0.5s;
    font-family: 'Gowun Dodum', sans-serif;

}
.card_box:hover{

    transform: scale(1.05);
}
.text{
    position: absolute;
    bottom:0;
    padding:24px;
    z-index:2;
}

.text h1{
    font-size: 20px;
    transform: tra
    
    translate(50%,10%);
}


.five p{

    font-size: 50px;
    padding: 5px 10px;
    font-family: 'Open Sans Condensed', sans-serif;;
}

.gotopbtn{

    position: fixed;
    width:50px;
    height:50px;
    background: #da9195;
    bottom: 40px;
    right: 50px;
    border-radius: 10px;

    text-decoration: none;
    text-align: center;
    line-height: 60px;
    color:white;
}
/*#prev_btn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left:5%;
    font-size: 40px;
    color:black;
    opacity:0.5;
    cursor:pointer;

}

#next_btn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right:5%;
    font-size: 40px;
    color:black;
    opacity:0.5;
    cursor:pointer;

}
*/